
.container {
    width: 100vw;
    height: 20vh;
}

.col-left {
    float: left;
    padding-left: 300px;
    padding-top: 120px;

}

  .col-right {
    float: right;
    padding-right: 300px;
    padding-top: 120px;

}

.btn-move{
    position: absolute;
    bottom: 250px;
    padding-left: 55vw;
}

.w-60{
    width: 300px;
    height: 35px;
    margin: 5px;
    border: 3px solid transparent;
    padding: 6%;
    border-radius: 10px;
    background-color: rgb(174, 197, 243);
    color: rgb(34, 36, 36);
    caret-color: rgb(0, 110, 255);
    outline: none;
}

.w-60:focus{        
    background-color: #9ca3fd;
}
.w-60:hover{        
    background-color: #c2c6fd;
    transition: all ease 1.5s;
    filter: drop-shadow(0 0 0.75rem rgb(241, 106, 133));
}

.btn-send{
   width: 75px;
   height: 40px;
   border-radius: 8px;
   background-color: rgb(128, 240, 128);
   text-align: center;
   border: 2px solid transparent;
   font-family: 'Poppins', sans-serif;
   font-weight: bolder;
}
.form-name{
    font-size: 20px;
    padding-left: 50%;
    position: absolute;
    top: 40px;
    right: 650px;
}

.btn-send:hover{
    background-color: #35fd71;
    cursor: pointer;
    transform: rotate(360deg);
    transition:all ease-in-out 2.0s;
    filter: drop-shadow(0 0 0.75rem rgb(241, 106, 133));
}
